body {
  margin: 0;
  padding: 0;
}

/* header */

.header {
  width: 90%;
  height: 58px;
  margin: 20px auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #e0dcdc;
  border: 1px solid white;
}

.head_left {
  width: 100%;
  height: 100%;
}

.head_left>h1 {
  font-size: 20px;
  margin: 16px 0 16px 25px;
}

.head_right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-primaryOnce {
  width: 32%;
  height: 40px;
  margin: 8px 0;
  background: green;
  border-color: grey;
}

.myNavbar-Elem {

}

.form-control-me {
  width: 100%;
  max-width: 200px;
}

/* products */

.products {
  width: 80%;
  height: 50px;
  margin: 0 auto 0 auto;
}

.products>h3 {
  margin-left: 6%;
  margin-bottom: 0;
  padding-top: 10px;
}

/* main-container */

.main-container {
  width: 80%;
  height: 4000px;
  margin: 0 auto 0 auto;
  padding: 10px 0 10px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin: 15px auto 15px auto;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-title {
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: auto;
}

.price-rating {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price {
  text-align: center;
  margin: auto 0 auto 0;
}

.rating {
  text-align: center;
  margin: auto 0 auto 0;
}

@media screen and (max-width: 1100px) {
  .main-container {
    grid-template-columns: 1fr;
    height: 12000px;
  }

  .btn-primaryOnce {
    width: 32%;
    height: 40px;
    margin: 8px 0;
    background: green;
    border-color: grey;
    font-size: 9px;
  }
}

/* order-menu */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  display: none;
}

/* order-menu */

.order-menu {
  position: fixed;
  left: -50%;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  z-index: 9999;
}

.order-header {
  width: 100%;
  font-size: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-cart {
  width: 100%;
  height: 100%;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.order-item {
  display: grid;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.total-price {
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 15px;
  text-align: right;
}

.total-amount {
  font-weight: bold;
}

.order-button {
  width: 85%;
  background-color: #0d6efd;;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
}

.order-button:hover {
  background-color: #0056b3;
}

.order-menu.open {
  left: 0;
}

.close-button {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  margin-right: 5%;
}

.order-item-image {
  max-width: 110px;
  margin-right: 10px;
}


.order-item-title {
  font-weight: bold;
}

.order-item-price {
  margin-top: 5px;
}

.quantity-button {
  background: #767676;
  border: none;
  width: 15%;
}

.remove-button {
  height: 33px;
  background: red;
  border: none;
  border-radius: 10px;
}

.order-item-image-div {
  height: 100%;
  width: 100%;
}

.order-button.disabled {
  background-color: #ccc;
  pointer-events: none;
  opacity: 0.6;
}